.main-container-element {
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0.2em 0.2em 3px rgba(122,122,122,0.5);
    padding-top: 5px !important;
}
.main-container-header-element {
    padding: 0;
    margin: 0;
}
.main-container-header-link-element {
    text-transform: uppercase;
}
.main-container-header-element-template {
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}
.main-container-header-element-template:hover {
    text-decoration: underline;
}
.icon-pencil {
    font-size: 14px;
    color: #9d9d9d;
    cursor: pointer;
    float: right;
}
.icon-pencil:hover {
    color: #1c309d;
}
.icon-trash {
    font-size: 14px;
    color: #9d9d9d;
    cursor: pointer;
    float: right;
    padding-left: 2px;
}
.icon-trash:hover {
    color: #9d0d0e;
}
.icon-span {
    font-size: 18px;
    color: #ddaa00;
    cursor: pointer;
    float: right;
}
.icon-exclamation-sign {
    font-size: 16px;
    color: #ddaa00;
    cursor: pointer !important;
    float: right;
}
.icon-favorite {
    font-size: 16px;
    color: #429942;
    cursor: pointer !important;
    float: right;
    padding-left: 2px;
}
.icon-favorite-empty {
    font-size: 16px;
    color: #9d9d9d;
    cursor: pointer !important;
    float: right;
    padding-left: 2px;
}
.icon-favorite-empty:hover {
    color: #429942;
}
.icon-exclamation-sign {
    font-size: 16px;
    color: #d34641;
    cursor: pointer !important;
    float: right;
}
.icon-exclamation-sign:hover {
    color: #d34641;
}
.icon-exclamation-sign-empty {
    font-size: 16px;
    color: #9d9d9d;
    cursor: pointer !important;
    float: right;
}
.icon-exclamation-sign-empty:hover {
    color: #ce0d0e;
}
.content-elem {
    margin: 0 0 5px 0 !important;
}
.block-padding-bottom {
    padding-bottom: 10px;
}
.fa-mobile {
    float: left;
    margin-right: 10px;
}
.fa-envelope-o {
    float: left;
    margin-right: 10px;
}
.fa-user {
    float: left;
    margin-right: 10px;
}
.fa-spinner {

}
