/* pnpNT CSS file */
body {
    font-family: 'Roboto';
}
.badge-primary {
    background-color: rgba(51, 122, 183, 1);
}
@media (max-width: 767px) {
    .dropdown-header {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: rgba(195, 212, 227, 1);
    }
}
#main-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#main-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(51, 122, 183, 1);
    border-width: 0;
    border-radius: 0;
}
#main-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 122, 183, 1);
}
#main-menu.navbar-default .navbar-nav>li>a:hover,
#main-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(195, 212, 227, 1);
    background-color: rgba(51, 122, 183, 1);
}
#main-menu.navbar-default .navbar-nav>.active>a,
#main-menu.navbar-default .navbar-nav>.active>a:hover,
#main-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(63, 114, 158, 1);
}
#main-menu.navbar-default .navbar-toggle {
    border-color: #fff;
}
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background-color: #3f729e;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}
.carousel-control {
    border-radius: 3px !important;
}
.carousel-indicators {
    margin-top: 10% !important;
}
#map-canvas {
    width: 100%;
    height: 300px;
}
#map-canvas-modal {
    width: 100%;
    height: 300px;
}
.form-control {
    height: 30px !important;
}
.chosen-single {
    height: 30px !important;
    line-height: 30px !important;
}
#infscr-loading {
    text-align: center;
    position: fixed;
    bottom: 60px;
    left: 42%;
    z-index: 100;
    background: white;
    background: hsla( 0, 0%, 100%, 0.6 );
    padding: 20px;
    color: #222;
    font-size: 12px;
    border-radius: 20px;
}